* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(144, 170, 243);
    font-family: sans-serif;
}
.container {
    background-color: rgba(230, 230, 230, 1);
    height: 50%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    margin: 1em;
}
#text {
    padding: 2em;
    width: 90%;
}
#button {
    margin: 1em;
    padding: 1em 2em;
    font-size: 1.5em;
    background-color: rgb(144, 170, 243);
    color: white;
    border: none;
    cursor: pointer;
}
#output {
    font-size: 2em;
    color: rgb(144, 170, 243);
    margin: 1.5em;
}
@media only screen and (max-width: 670px) {
    .container {
        height: 70vh;
    }
    #text {
        font-size: 1.2em;
    }
}