* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(175, 153, 153);
    height: 100vh;
    font-family: sans-serif;
}
.container {
    width: 50vw;
    min-height: 50vh;
    background-color: rgba(220, 220, 220, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0.8em;
    font-size: 1.3em;
    border-radius: 0.3em;
    border-style: none;
    background-color: rgb(62, 153, 148);
    color: white;
    outline: none;
    cursor: pointer;
}
.btn:hover{
    background-color: rosybrown;
    color: black;
}
.quote {
    position: absolute;
    top: 30%;
    padding: 1em 3em;
    font-size: 1.2em;
    color: #6c757d;
}
i {
    font-size: 1.7em;
}
.author {
    color: rgb(78, 160, 149);
    padding: 0.5em;
    float: right;
}
